/*
============================
Base Layout Styles
============================
*/

html
{
  box-sizing: border-box;
}

.name
{
  text-decoration: none;
}


/*
============================
Base Styles
============================
*/

/*---- Body ----*/
body
{
  padding-top: 2.5rem;
}

/*----  Header ----*/
header
{
  background-color: rgb(236, 101, 101);
}

.header
{
  background-color: rgb(236, 101, 101);
  width: 100%;
  text-align: center;
  top: 0;
  position: fixed;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

html
{
  font-family: 'Merriweather', serif;
}

/*----  Navigation ----*/
nav
{


width: 100%;
margin-left: 1em;
margin-right: 1em;
display: block;


}

nav a
{
  transition-duration: 1s;
}

nav a:hover
{

  color: rgba(255, 255, 255, 0.5);
}

nav li
{
  list-style: none;
}







nav ul li:nth-child(3)
{
  order: -1;
}







.container
{
  width: 100%;
  flex: 1;
}


/*---- Self Introduction----*/



.self-intro
{
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;



}

.self-intro p
{
  align-self: center;
  max-width: 500px;
}

/*---- Portfolio----*/
.portfolio ul
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.portfolio ul li
{
  flex: 1 700px;
  list-style: none;


}

/*---- Clearfix ----*/
.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
/*----  Footer ----*/
footer
{
  text-align: center;
  background-color: rgb(236, 101, 101);
  bottom: 0;
  position: relative;
  width: 100%;
  padding: 2em 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);

}

footer ul li
{
  font-size: 3rem;
}

.footer
{
  display: inline-flex;
  flex-direction: column;
}

footer li
{
  list-style-type: none;
  display: inline;
  margin: 2.5em 1.5em;
}

/*----- Transitions-----*/




footer li
{
  transition-duration: 1s;
}

footer li:hover
{
  background-color: rgba(90, 146, 204, 0.5);
}

/*
============================
Image Stylings
============================
*/

img
{
  width: 100%;
  margin: 2.5%;
  border: 1px solid rgb(0, 0, 0);
}





/*
============================
Link Stylings
============================
*/
a
{
  text-decoration: none;
}

a:link
{
  color: rgb(0, 0, 0);
}

a:hover
{
  color: rgb(0, 0, 0);
}

a:visited
{
  color: rgb(0, 0, 0);
}




/*
============================
Media Queries
============================
*/


@media (min-width:769px)
{

.header
{
  display: flex;
  flex-direction: row;
  padding-bottom: 2.5em;
}

.header h1
{
  margin-right: 1.5em;
  margin-left: 1.5em;
}

.self-intro
{
  padding-top: 15em;
}



nav ul
{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
  flex-grow: 1;
}

nav ul li
{
  align-self: center;
}



.portfolio
{
  flex-wrap: wrap;
  flex-direction: row;
}

.portfolio ul
{
  flex-direction: row;

}

.portfolio ul li
{
  flex-grow: 1;
  flex-basis: 400px;
  max-width: 500px;
  flex-wrap: wrap;
}

.portfolio ul li:nth-child(2)
{
  margin-bottom: 1.5em;
}









.footer
{
  flex-direction: row;
  justify-content: center;
}

  nav
  {
    padding-bottom: 1em;
  }









  img
  {
    width: 100%;
  }

  img:nth-child(3)
  {
    width: 45%;
  }

  .portfolio ul li figure
  {
    text-align: center;
  }

}

@media screen and (min-width:1025px)
{
  nav
  {
    display: flex;
    flex-direction: row;
  }



}
