/*
============================
Base Layout Styles
============================
*/

.name
{
  text-decoration: none;
}


/*
============================
Base Styles
============================
*/

/*----  Header ----*/
header
{
  background-color: rgb(242, 69, 69);
  width: 100%;
  text-align: center;
  top: 0;
  position: fixed;
}

header h1
{
  font-family: 'Merriweather', serif;
}

/*----  Navigation ----*/
nav li
{
display: inline;
margin: 2.25%;

}

.container
{
  width: 100%;
}


/*---- Self Introduction----*/



.self-intro
{
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;



}

.portfolio ul li
{
  float: left;
  list-style: none;
  margin-bottom: 1.5rem;
  display: inline-block;
  padding-bottom: 4.5em;

}

/*----  ----*/
.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
/*----  Footer ----*/
footer
{
  text-align: center;
  background-color: rgb(242, 69, 69);
  bottom: 0;
  position: relative;
  width: 100%;
  padding: 2em 0;

}

footer li
{
  list-style-type: none;
  display: inline;
  margin: 2.5em 1.5em;
}

/*
============================
Image Stylings
============================
*/

img
{
  width: 100%;
  margin: 2.5%;
  border: 1px solid #000;
}





/*
============================
Link Stylings
============================
*/
a
{
  transition: 2sec;
  text-decoration: none;

}

a:link
{
  color: #000;
}

a:hover
{
  color: #01fc01;
}

a:visited
{
  color: #1a298b;
}




/*
============================
Media Queries
============================
*/

@media (max-width:768px)
{


  .main-nav li
  {
    display: block;
  }

}

@media (min-width:768px) {

  .main-nav li
  {
    display: inline;
  }


  img
  {
    width: 28%;
    display: inline;
  }

  img:nth-child(3)
  {
    width: 45%;
  }

  .portfolio ul li figure
  {
    text-align: center;
  }




}
