/*
============================
Base Layout Styles
============================
*/

html
{
  box-sizing: border-box;
}

.name
{
  text-decoration: none;
}


/*
============================
Base Styles
============================
*/

/*---- Body ----*/
body
{
  padding-top: 2.5rem;
}

/*----  Header ----*/
.header
{
  background-color: rgb(236, 101, 101);
  width: 100%;
  text-align: center;
  top: 0;
  position: fixed;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

html
{
  font-family: 'Merriweather', serif;
}

/*----  Navigation ----*/
.main-nav
{

display: flex;
flex-direction: column;
width: 50%;
margin-left: 1em;
margin-right: 1em;

}





.main-nav li
{
  list-style: none;
  margin-right: 2.5%;
}

.container
{
  width: 100%;
}


/*---- Self Introduction----*/



.self-intro
{
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 72em;



}

/*---- Portfolio----*/

.portfolio ul li
{
  float: left;
  list-style: none;
  margin-bottom: 1.5rem;
  display: inline-block;
  padding-bottom: 4.5em;

}

/*----  ----*/
.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
/*----  Footer ----*/
footer
{
  text-align: center;
  background-color: rgb(236, 101, 101);
  bottom: 0;
  position: relative;
  width: 100%;
  padding: 2em 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);

}

footer ul li
{
  font-size: 3rem;
}

.footer
{
  display: inline-flex;
  flex-direction: row;
}

footer li
{
  list-style-type: none;
  display: inline;
  margin: 2.5em 1.5em;
}

/*
============================
Image Stylings
============================
*/

img
{
  width: 100%;
  margin: 2.5%;
  border: 1px solid rgb(0, 0, 0);
}





/*
============================
Link Stylings
============================
*/
a
{
  text-decoration: none;
}

a:link
{
  color: rgb(0, 0, 0);
}

a:hover
{
  color: rgb(0, 0, 0);
}

a:visited
{
  color: rgb(0, 0, 0);
}




/*
============================
Media Queries
============================
*/


@media (min-width:768px) {

.main-nav
{
  width: 100%;
}









.footer
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  .main-nav ul
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

  }



  img
  {
    width: 28%;
    display: inline;
  }

  img:nth-child(3)
  {
    width: 45%;
  }

  .portfolio ul li figure
  {
    text-align: center;
  }




}
